.management-toolbar-search {
	& .input-group {
		& .input-group-inset-item {
			padding-left: var(--spacer-3);
			padding-right: var(--spacer-3);
		}
	}

	& .form-control,
	& .input-group-inset-item {
		border-color: var(--color-neutral-2);
	}
}
