.custom-select.disabled {
	background-color: var(--color-neutral-1) !important;
	color: var(--color-neutral-10);
	opacity: 0.7;
}

.selection {
	&-first-option {
		color: var(--color-neutral-3) !important;
	}
}

.select-empty-value {
	color: var(--color-neutral-7);
}
