.btn-sm {
	line-height: var(--text-small-caps-line-height, 16px);

	.inline-item {
		font-size: var(--text-paragraph-xs-font-size, 11px);

		.lexicon-icon {
			margin-top: -3px;
		}
	}

	.inline-item-before {
		margin-right: 0.5em;
	}
}
