.DS_Store
/.env
/.env.local
/.idea
/bundles
/client-extensions/liferay-one-etc-spring-boot/liferay-release-tool-ee
/poshi/poshi-ext.properties
/poshi/test-results
/poshi/tests
@vite/
bin
build
coverage
dist
node_modules
node_modules_cache
playwright-report
test-results