.detailed-card {
	&-container {
		border: 1px solid var(--color-neutral-2);
		border-radius: var(--border-radius-lg, 0.625rem);
		padding: 2.125rem var(--spacer-4);

		&-larger {
			width: 700px !important;
		}
	}

	&-header {
		&-clay-icon {
			height: 20px;
			width: 20px;
		}

		&-icon-container {
			background: var(--color-neutral-2);
			border-radius: 50%;
			height: 40px;
			width: 40px;
		}
	}
}
