.field-base {
	&-required-asterisk-icon {
		height: 6px;
		margin-bottom: 6px;
		width: 6px;
	}

	&-tooltip {
		margin-left: 22px;
	}

	&-description {
		color: var(--color-neutral-8);
		font-size: var(--text-paragraph-sm-font-size, 13px);
		line-height: 1rem;
		word-break: break-word;
	}

	&-feedback {
		color: var(--color-neutral-7);
		font-size: var(--text-paragraph-sm-font-size, 13px);
		margin-top: 8px;
	}

	&-localized-field {
		.arrow-down-icon {
			height: 16px;
			width: 16px;
			filter: invert(26%) sepia(83%) saturate(5507%) hue-rotate(220deg)
				brightness(104%) contrast(97%);

			&:hover {
				filter: invert(20%) sepia(92%) saturate(5175%)
					hue-rotate(214deg) brightness(86%) contrast(110%);
			}
		}

		button {
			color: var(--color-brand-primary);

			&:hover {
				color: var(--color-action-primary-hover);
			}
		}
	}
}
