.entity-selector-menu {
	.input-group-item-focusable:focus-within {
		box-shadow: none;
		outline: 0;
	}

	.form-control {
		&:active,
		&:focus {
			border-color: var(--color-brand-primary);
			box-shadow: none;
			outline: 0;
		}
	}
}
