.input-form-base {
	width: 42.5rem;
}

.custom-input {
	background-color: var(--color-neutral-0);
	border: 1px solid var(--color-neutral-4);
	border-radius: var(--border-radius-lg, 8px);

	&::placeholder {
		opacity: 40%;
	}
}
