.dashboard-empty-state {
	border: 1px var(--color-neutral-2) solid;
	border-radius: var(--border-radius-lg, 10px);

	&-background {
		background-color: var(--color-brand-primary-lighten-5);
		border-radius: var(--border-radius-lg, 8px);
		height: 80px;
		width: 144px;
	}

	&-button {
		border-radius: var(--border-radius-lg, 8px);
	}

	&-description {
		color: var(--color-neutral-8);
		white-space: pre-line;
		word-break: break-all;

		&-first::after {
			content: '\a';
			white-space: pre;
		}
	}

	&-image {
		filter: invert(18%) sepia(87%) saturate(3738%) hue-rotate(218deg)
			brightness(85%) contrast(103%);
		width: 32px;
	}

	&-title {
		color: var(--color-neutral-10);
		padding-bottom: 8px;
		padding-top: 32px;
	}
}
