.tooltip {
	&-base {
		align-items: center;
		background-color: var(--color-state-info-lighten-2);
		border-radius: var(--border-radius-sm, 0.25rem);
		display: flex;
		height: 28px;
		justify-content: center;

		&-auto {
			font-weight: 600;
			padding-left: 8px;
			padding-right: 8px;
			width: auto;
		}

		&-container {
			width: 28px;
		}
	}

	&-optional-text {
		color: var(--color-state-info);
		font-size: var(--text-paragraph-xs-font-size, 11px);
		margin-right: 0.125rem;
	}

	&-icon {
		height: 12px;
		width: 12px;
		filter: invert(34%) sepia(14%) saturate(4340%) hue-rotate(190deg)
			brightness(88%) contrast(91%);
	}
}
