.info-container {
	box-sizing: border-box;
	gap: var(--spacer-3);

	.info-card {
		border-radius: var(--border-radius-lg, 10px);
		flex: 1 0 0;
		max-width: none;
		transition: all ease-in-out 0.3s;

		&.limited {
			flex: 1 0 auto;
			max-width: 274px;
		}
	}
}

.metrics {
	&-container {
		box-sizing: border-box;
		gap: var(--spacer-3);
	}

	&-card {
		background: var(--color-brand-primary-lighten-6);
		border: 2px solid var(--color-action-primary-hover-10);
		border-radius: var(--border-radius-lg, 10px);
		flex: 1 1 auto;
		transition: all ease-in-out 0.3s;

		&:hover {
			background: var(--color-primary-l3);
			border: 2px solid var(--color-brand-primary-lighten-3);
		}

		&:last-child {
			min-width: 474px;
		}
	}
}

.trial {
	&-card {
		background: var(--color-brand-primary-lighten-6);
		border: 2px solid var(--color-action-primary-hover-10);
		border-radius: var(--border-radius-lg, 10px);
		flex: 1 1 auto;
		transition: all ease-in-out 0.3s;

		&:hover {
			background: var(--color-primary-l3);
			border: 2px solid var(--color-brand-primary-lighten-3);
		}
	}
}
