.app-details-page-table-icon {
	border-radius: var(--border-radius-sm, 4px);
	max-height: 36px;
	object-fit: contain;
	width: 36px;
}

.tr-table {
	td,
	th {
		padding-bottom: var(--spacer-2);
		padding-top: var(--spacer-2);
	}
}
