.label-tonal-danger {
	background-color: var(--color-state-error-lighten-2);
	border-color: transparent;
	color: var(--color-state-error);
	font-weight: 600;
	height: 35px;
	padding: 4px;
	text-transform: none;

	.text-paragraph {
		font-size: var(--text-paragraph-font-size, 16px);
	}
}

.input__base-text {
	color: var(--color-neutral-7);
	font-size: var(--text-paragraph-sm-font-size, 13px);
}

.form-group {
	.required {
		&::after {
			color: var(--color-state-error);
			content: '*';
		}
	}
}
